html {
height: 100%;
margin: 0;
width: 100%;
}

#gauche {
background-color: red;
height: 100%;
position: absolute;
left: 0px;
width: 33%;

}

#droite {
background-color: green;
height: 100%;
left: 66%;
position: absolute;
width: 33%;
}




#milieu
{
	background-color: blue;
	height: 100%;
	left: 33%
	position: absolute;
	width: 33%;
	top: 0px;
}

